.test {
    background: yellow;
    width: 150px;

}

.orange {
    background: red;
    margin: 5px;
    height: 200px
}

.left_align_label_text {
    background: yellow;
    padding-bottom: 4px;
}

.label_with_textbox {
    background: blue;
    height: 26px;
    width: 260px;
    flex-direction: row-reverse;
    padding-top: 6px;

}

.image_div {
    height: 100px;
    width: 100px;
}

#chart {
    background: pink;
    max-width: 400px;
    width: 100px;
    height: 100px;
    box-shadow-bottom: 0px 0px 50px black inset;
    box-shadow-top: 0px 0px 50px black inset;
}